<!DOCTYPE html>
<html lang="ar" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>component_name</title>
<script defer src="/app.js"></script><link href="/css/styles.css" rel="stylesheet"></head>
<body>
    <div class="component-container">
        <div class="c-card">
            <h3 class="c-card__title">معلومات الشحن غير موجودة</h3>
            <a href="#" class="c-btn c-btn--primary c-card__action">ربط معلومات الشحن</a>
            <p>
                هن معلومات الشحن غير متوفرة ،لقد سبق وقمت باعداد موقعك بجعله يبيع اغراض فعلية عليك بملا معلومات الشحن في المتجر حتى يتاح لك معرفة كيفية كيفية توفير الشحن لزبائنك
            </p>
        </div>
        <div class="c-card c-card--no-description">
            <h3 class="c-card__title">معلومات الشحن غير موجودة</h3>
            <a href="#" class="c-btn c-btn--primary c-card__action">ربط معلومات الشحن</a>
        </div>
        <div class="c-card c-card--no-action">
            <h3 class="c-card__title">معلومات الشحن غير موجودة</h3>
            <p>
                هن معلومات الشحن غير متوفرة ،لقد سبق وقمت باعداد موقعك بجعله يبيع اغراض فعلية عليك بملا معلومات الشحن في المتجر حتى يتاح لك معرفة كيفية كيفية توفير الشحن لزبائنك
            </p>
        </div>
    </div>
</body>
</html>