<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list Component's page</title>
<script defer src="/app.js"></script><link href="/css/styles.css" rel="stylesheet"></head>
<body>
    <div class="component-container">
        <div class="c-list">
            <img src="/assets/images/black-shirt.jpg" alt="" class="c-list_media">
            <span class="c-list_data">قميص اسود M</span>
            <span class="c-list_data">علي جابر</span>
            <span class="c-list_data">دمشق سوريا</span>
            <span class="c-list_data">19.99$</span>
            <div class="c-list_actions">
                <a href="#" class="c-btn c-btn--primary c-btn--small">تم الشحن</a>
                <a href="#" class="c-btn c-btn--small"> تواصل</a>
                <a href="#" class="c-btn c-btn--destructive c-btn--small">حذف الطلب</a>
            </div>
        </div>
    </div>
</body>
</html>